.dashboard {
  display: flex;
}

.content {
  flex: 1;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.table-container {
  flex: 2;
  display: flex;
  justify-content: space-around;
}

.order-summary {
  width: 400px;
  border-radius: 8px;
  height: 400px;
  margin-left: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f9f9f9;
}

.order-table {
  width: 50vw;
  height: fit-content;
  border-collapse: collapse;
}

.order-table th,
.order-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  height: 70px;
}

.order-table th {
  background-color: #f4f4f4;
}

.statusBtn {
  padding: 5px 10px;
  cursor: pointer;
  border: none;
}

.statusBtn.Pending {
  background-color: yellow;
}

.statusBtn.Delivered {
  background-color: green;
  color: white;
}

.orderAdminPagination {
  margin-top: 20px;
  display: flex;
  text-align: center;
  gap: 10px;
}

.orderAdminPagination button {
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
}

.orderAdminPagination button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
